
<h1>Post App</h1>

  <form class="" action="index.html" method="post">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" value="">
      <label for="body">Body</label>
      <input type="text" name="body" value="">
    </div>
    <div class="">
      <button id="createPost" type="submit" name="button" onclick="submitForm()">Submit Post</button>
    </div>

  </form>
<hr />
<div class="">
  <button onclick="getAllPosts()" type="button" name="button">Get all posts</button>
  <button onclick="getPost()" type="button" name="button">Get first post</button>
</div>

<div class="post">
</div>

<!-- <script type="text/javascript">
  function getAllPosts(){
    $.ajax({
      url:'http://localhost:3001/posts.json',
      success: function(response){
        console.log('request successfull')
        console.log(response)
      },
      error: function(){
        console.log('request fail')
      }
    })
  }

  function whenSuccess(){
    console.log('request successfull')
  }
</script> -->






<!--

<h2>Async form</h2>

<div class="">
  <form class="postForm" >
    <div class="">
      <label for="title">title</label>
      <input class="new-title" type="text" name="title" value="">
    </div>
    <div class="">
      <label for="title">body</label>
      <input class="new-body" type="text" name="body" value="">
    </div>
  </form>
  <input type="button" onclick="createPost()" name="" value="submit">
</div> -->


<!-- <div class="mb-3">
  <button onclick="getPost()" type="button" name="button">Get first post</button>
</div> -->
